/* Colors */
$color-background-alt: #ffe3e6
$color-accent: #1339c4
$color-hero: #f90016

$font-rubik: "Rubik", sans-serif
$font-cabin: "Cabin", sans-serif
$font-cabin-condensed: "Cabin Condensed", sans-serif

$heading-font-family: $font-rubik
$body-font-family: $font-cabin
$body-size-desktop: pxToRem(20)
$h1-size-desktop: pxToRem(40)
// $h2-size-desktop: 2rem
$h5-font-family: $font-cabin-condensed
$lead-sidebar-font-family: $font-cabin
$meta-font-family: $font-cabin

// $spacing1: 24px !default
// $spacing2: 48px !default
// $spacing3: 64px !default
// $spacing4: 128px !default
// $spacing5: 256px !default
// $grid-gutter: 40px
$grid-max-width: 1280px
    
$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 60px
$header-logo-height-desktop: 80px
$hero-color: #ffffff
$hero-background-color: none
$hero-credit-color: black
$hero-credit-color-desktop: white
$footer-color: white
$footer-background-color: black
$footer-logo-height: 112px
$footer-logo-height-desktop: 112px
$breadcrumb-icon-color: white
