
//header logo and text hero white    
header:not(.is-sticky)
    .search-button--primary
        color: #ffffff
    .menu a
        color: #ffffff
    .logo img
        content: url("/assets/images/logo_white.png")

header#document-header .logo img
    height: 72px
footer#document-footer .logo img
    height: 72px


.hero
    background-color:  #e60058
    background-image: url("/assets/images/texture.svg")
    background-blend-mode: darken

//accueil feature
body.full-width .block-class-feature-accueil, body.full-width.home_page .categories--grid
    ul
        grid-template-columns: repeat(2,1fr)
