
//header logo and text hero white    
header:not(.is-sticky)
    .search-button--primary
        color: #ffffff
    .menu a
        color: #ffffff
    .logo img
        content: url("/assets/images/logo_white.png")

header#document-header .logo img
    height: 80px
footer#document-footer .logo img
    height: 80px

header#document-header nav.primary-menu
    padding-top: 1.25rem
    padding-bottom: 1.25rem


.hero
    background-color:  #e60058
    background-image: url("/assets/images/texture.svg")
    background-blend-mode: darken

    .hero-actions
        a.btn
            color: #ffffff
            border-color: #ffffff
            &:hover, &:focus, &:active
                color: #111111


//accueil feature
body.full-width .block-class-feature-accueil
    ul
        grid-template-columns: repeat(2,1fr)

.block .block-title
    font-weight: 700

.block-features li .name
    color: #e60058
