footer#document-footer
    background-image: url("/assets/images/texture-red.svg")
    margin-top: $spacing-6
    padding-bottom: 2.5rem
    padding-top: 0
    .footer-logo
        transform: translateY(-52px)
    .footer-site
        display: none
    .container
        margin-top: 0 !important
        padding-bottom: 1rem
        &:first-of-type
            justify-content: center
            .footer-logo
                img
                    margin-left: auto
                    margin-right: auto