.posts
    &--list
        article
            @include media-breakpoint-up(desktop)
                hgroup
                    max-width: columns(7)
                [itemprop="abstract"]
                    max-width: columns(7)
                    margin-top: $spacing-2
//     padding-bottom: 2rem
//     .post-content
//         grid-column: 1/13
        
//         h2.post-title
//             font-family: $body-font-family
//             letter-spacing: 0

//         .post-categories
//             display: none
.post
    .post-title
        text-transform: uppercase
    .post-subtitle
        color: $color-text